<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'profile' %}">
            MySite
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">
                        Profile
                    </a>
                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'password_change' %}">
                            Change Password
                        </a>
                    </li>

                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link border-0">
                                Logout
                            </button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'password_change' %}">
                            Change Password
                        </a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            Login
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'password_reset' %}">
                            Reset Password
                        </a>
                    </li>

                {% endif %}

            </ul>

            <span class="navbar-text">
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }}
                {% endif %}
            </span>

        </div>
    </div>
</nav>