body{
    background-color: rgb(53, 8, 8);
    color: white;
}
body nav{
    border:solid rgb(46, 0, 90);
    border-radius:50px  ;
}
body nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body nav ul li a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
