<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'aboutus' %}">About</a></li>
            <li><a href="{% url 'cor' %}">Course</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock content %}
    {% block content2 %}{% endblock content2 %}
</body>
</html>