<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
</head>
<body>
    
        <div>
            <nav>
            <ul>
                <li><a  href="/">Home</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'enroll' %}">Enroll</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>

            </ul>
            </nav>
        </div>
        <div>
            {% block content %}{% endblock content %}

        </div>
    
</body>
</html>