<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div style="display: flex;">
        <div style="border-right: solid 2px; padding-right: 5px;">
          {% include 'core/sideBar.html' %}
        </div>
        <div style="display: flex;  justify-content: center; align-items: center;width:80vmax; margin-left: 10px;">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>
