{% extends 'core/base.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}
{% block content %}
    <div style="margin: 15px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <img src="{% static 'images/dp.jpg' %}" style="width: 200px; height: 200px; border-radius: 0%;" alt="">

    <p >
        kdsfla; jjjjjjjjjjjj asd eaoifjsdkflllllllllll kj klllllllllllllsdflk ajsdddddddddddddddddd fds 
         sddkjfallllllllllllllllllllllll skd aldfffffjjjjjjjjjjjjjjjjjjjjjjj slk jfdaaaaaaaaaaaaaaa fk lja
          sakdfjllllllllllllllllllllllllllllllllllllllalksd jf kldsajjjjjjjjjjjjjjjjjjjj sadlk ajjjjjjjjjjjfwjeoia
          sdkafj woiej fsadjfskdaj foiawj fowjfoisd fjao feflksalf wafwafjasfkashfhw iufasfkjas iwhf usksaf aslhf  af
          afas fas faksj flkas fiw fsj faw fafasnfwjfoiw jsdfaso;if j
    </p>
    </div>
{% endblock content %}