<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h3>course view</h3>
    <img src="{% static 'Images/img.jpg' %}" alt="">
    <form action="">
        <input type="button" value="Click Here" onclick="des()">
    </form>
    <script src="{% static 'JS/script.js' %}"></script>
</body>
</html>