{% extends 'enroll/base.html' %}
{% block content %}
<div style="display: flex; justify-content: space-around; align-items: flex-start;">
    <div>
        <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" style="color: white; background-color: green; padding: 10px; border: none; cursor: pointer;">
</form>
    </div>
    <div>
        <h4 style="text-align: center;background-color: lightblue;">Show Student Information</h4>
        {% if stu %}
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <th style="border: 1px solid black; padding: 8px;">Name</th>
                <th style="border: 1px solid black; padding: 8px;">Email</th>
                <th style="border: 1px solid black; padding: 8px;">Password</th>
                <th style="border: 1px solid black; padding: 8px;">Actions</th>
            </tr>
            {% for i in stu %}
            <tr>
                <td style="border: 1px solid black; padding: 8px;">{{i.name}}</td>
                <td style="border: 1px solid black; padding: 8px;">{{i.email}}</td>
                <td style="border: 1px solid black; padding: 8px;">{{i.password}}</td>
                <td style="display: flex;"><a href="{% url 'update' i.id %}" style="border: 1px solid black; padding: 8px;color: blue; text-decoration: none;">Edit</a>
                    <form action="{% url 'delete' i.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" style="border: 1px solid black; padding: 8px;color: rgb(255, 0, 0); text-decoration: none;" value="Delete">
                    </form></td>
            </tr>
            {% endfor %}
        {% else %}
            <h4>No Student Information Available</h4>
        {% endif %}
    </div>
</div>
{% endblock content %}